ai_hub_food_dataset/
dataset_process/
dataset_process_ver2/
dataset_process_swish/
yolov4/custom_data/images
yolov4/custom_data/labels
yolov4/darknet_master
yolov4/darknet_master.zip
yolov4_3classes/
yolov4_65classes_old/
save_dataset_before_augment/
aug_practice/
aug_practice_swish/
img_test/
건강관리를 위한 음식 이미지/
roboflow/
roboflow_old/

yolov4_swish/

yolov4_TF/

predict_65_classes/
predict_73_classes/
predict_77_classes/
predict_70_classes_swish/

swish_test_models/

*.zip
./yolov4.zip
*.weights